In [2]:
import pandas as pd #pandas library
%matplotlib inline 
import matplotlib.pyplot as plt #import matplotlib same as from maplotlib import pyplot as plt

In [12]:
#Load our external file
data = pd.read_excel('nigeria_gdp.xlsx',skiprows=7)

In [15]:
data.head()
#From the below dataset we need to drop irrelevant columns 
#del data['Unnamed: 0']
data

,GDP growth (annual %),GDP per capita growth (annual %),GDP (constant LCU),GDP per capita (constant LCU),GDP (current LCU),GDP (current US$),GDP per capita (current US$),"GDP, PPP (current international $)"
0,%,%,constant LCU,constant LCU,current LCU,current US$,current US$,current international $
1,NaN,NaN,8819015424300,195380,2997268700,4.19609e+09,92.9618,NaN
2,0.191795,-1.82038,8835929898100,191823,3190921200,4.4672e+09,96.9804,NaN
3,4.10299,1.96415,9198467447000,195591,3506715100,4.9093e+09,104.389,NaN
4,8.57862,6.31106,9987568915800,207935,3689708800,5.16549e+09,107.542,NaN
5,4.95049,2.7392,10482002382300,213630,3966381100,5.55282e+09,113.17,NaN
6,4.88498,2.66464,10994045770800,219323,4196100000,5.87442e+09,117.19,NaN
7,-4.25051,-6.28851,10526742295500,205531,4547800000,6.36679e+09,124.309,NaN
8,-15.7436,-17.5537,8869451126300,169452,3716600000,5.20314e+09,99.4068,NaN
9,-1.24836,-3.39693,8758728424400,163696,3715000000,5.2009e+09,97.2021,NaN
10,24.1974,21.4492,10878111570300,198808,4738800000,6.63419e+09,121.246,NaN
11,25.0072,22.1832,13598427247600,242910,8961500000,1.25458e+10,224.107,NaN
12,14.2375,11.618,15534507618600,271131,10375400000,9.18177e+09,160.254,NaN
13,3.36426,0.954898,16057129160000,273720,11034700000,1.22744e+10,209.237,NaN
14,5.39276,2.85425,16923051676200,281533,12251600000,1.51629e+10,252.25,NaN
15,11.1607,8.34329,18811778397500,305022,19604000000,2.48466e+10,402.873,NaN
16,-5.22775,-7.77004,17828346111600,281321,22945400000,2.77789e+10,438.336,NaN
17,9.04235,5.94516,19440447874700,298046,28611400000,3.63089e+10,556.661,NaN
18,6.02412,2.88582,20611563364500,306648,33585000000,3.60354e+10,536.115,NaN
19,-5.76416,-8.58979,19423480205000,280307,36053000000,3.65279e+10,527.147,NaN
20,6.75943,3.62244,20736396934600,290461,42912000000,4.72599e+10,661.984,NaN
21,4.20483,1.26932,21608327390900,294148,50270000100,6.42018e+10,873.961,NaN
22,-13.1279,-15.4548,18771611996200,248688,51731790000,6.10765e+10,809.147,NaN
23,-1.05319,-3.59523,18573911995500,239747,53658950000,5.13975e+10,663.425,NaN
24,-5.05045,-7.42755,17635845651100,221940,57963310000,3.54516e+10,446.143,NaN
25,-2.02154,-4.46862,17279330405700,212022,64326340000,2.85008e+10,349.713,NaN
26,8.32283,5.58207,18717459648700,223857,73542020000,2.8874e+10,345.328,NaN
27,-8.75418,-11.0988,17078900105000,199012,74908220000,2.07215e+10,241.457,NaN
28,-10.7517,-13.0645,15242627978500,173012,111912930000,2.40932e+10,273.471,NaN
29,7.54252,4.75005,16392306551000,181230,147941130000,2.32722e+10,257.292,NaN
30,6.46719,3.72184,17452428348600,187975,228451460000,2.42312e+10,260.987,NaN
31,12.766,9.89491,19680406952600,206575,281550270000,3.07571e+10,322.841,1.87284e+11
32,-0.617851,-3.1158,19558811442400,200139,329070750000,2.73929e+10,280.302,1.92323e+11
33,0.433725,-2.0668,19643642967100,196002,555445510000,2.93009e+10,292.361,1.9756e+11
34,2.09038,-0.433201,20054269318900,195153,715241870000,1.5789e+10,153.647,2.06488e+11
35,0.909763,-1.57481,20236715708300,192080,945557020000,1.80864e+10,171.67,2.12801e+11
36,-0.307469,-2.75861,20174494087100,186781,2008564010000,2.8547e+10,264.296,2.16572e+11
37,4.99371,2.41332,21181948915400,191289,2799036110000,34987951375,315.967,2.31538e+11
38,2.80226,0.275909,21775521442700,191816,2906624880000,3.58223e+10,315.552,2.421e+11
39,2.71564,0.188875,22366866252100,192179,2816406010000,32004613750,274.987,2.51373e+11
40,0.474238,-2.00238,22472938336300,188331,3312240870000,3.58708e+10,300.609,2.5643e+11
41,5.31809,2.71429,23668070182400,193442,4717332100000,4.6386e+10,379.119,2.76213e+11
42,4.41107,1.82173,24712084188700,196966,4909526480000,4.4138e+10,351.8,2.94969e+11
43,3.78465,1.20083,25647349633900,199332,7128203100000,5.91168e+10,459.457,3.10832e+11
44,10.3542,7.58989,28302923550900,214461,8742646650000,6.76558e+10,512.651,3.49856e+11
45,33.7358,30.3566,37851134166500,279564,11673602240000,8.78454e+10,648.815,4.80748e+11
46,3.44467,0.804665,39154979623600,281813,14735323980000,1.12248e+11,807.894,5.1331e+11
47,8.21096,5.42279,42369981241000,297095,18709786480000,1.4543e+11,1019.74,5.72523e+11
48,6.8284,4.05371,45263172340100,309139,20940910900000,1.66451e+11,1136.83,6.27894e+11
49,6.27026,3.49216,48101292603600,319934,24665244300000,2.08065e+11,1383.89,6.80354e+11
50,6.93442,4.12619,51436836336000,333135,25236056300000,1.69481e+11,1097.66,7.33058e+11
51,7.83974,4.99983,55469350300000,349792,55469350300000,3.69062e+11,2327.32,8.00182e+11
52,4.88739,2.11909,58180351900000,357204,63713359400000,4.11744e+11,2527.94,8.56619e+11
53,4.27928,1.52409,60670050500000,362648,72599630000000,4.60954e+11,2755.3,9.0973e+11
54,5.39442,2.61463,63942845600000,372130,81009964600000,5.14966e+11,2996.96,9.7429e+11
55,6.30972,3.51962,6.79775e+13,385228,9.0137e+13,5.68499e+11,3221.68,1.05435e+12
56,2.65269,-0.0222352,6.97807e+13,385142,9.51777e+13,4.81066e+11,2655.16,1.09406e+12
57,-1.61687,-4.16011,68652430364690,369120,102575418034590,4.04653e+11,2175.67,1.0901e+12

In [58]:
data.drop(columns = ['GDP (constant LCU)','GDP (current LCU)','GDP per capita (constant LCU)','GDP (current LCU)','GDP (current US$)','GDP, PPP (current international $)'], inplace = True)

In [59]:
data.head()

,Unnamed: 0,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
0,Units,%,%,current US$
1,1960,NaN,NaN,92.9618
2,1961,0.191795,-1.82038,96.9804
3,1962,4.10299,1.96415,104.389
4,1963,8.57862,6.31106,107.542

In [60]:
data.drop(0,axis = 0, inplace = True)  #drop row 0 since it contains column names

In [61]:
data.head()

,Unnamed: 0,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,1960,NaN,NaN,92.9618
2,1961,0.191795,-1.82038,96.9804
3,1962,4.10299,1.96415,104.389
4,1963,8.57862,6.31106,107.542
5,1964,4.95049,2.7392,113.17

In [62]:
#rename the Unamed colum to Year
data = data.rename(columns= {'Unnamed: 0':'Years'})

In [63]:
data.head()

,Years,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,1960,NaN,NaN,92.9618
2,1961,0.191795,-1.82038,96.9804
3,1962,4.10299,1.96415,104.389
4,1963,8.57862,6.31106,107.542
5,1964,4.95049,2.7392,113.17

In [64]:
#what does our current data contain
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 1 to 57
Data columns (total 4 columns):
Years                               57 non-null object
GDP growth (annual %)               56 non-null object
GDP per capita growth (annual %)    56 non-null object
GDP per capita (current US$)        57 non-null object
dtypes: object(4)
memory usage: 2.2+ KB

In [65]:
data.isnull() #show the boolean value of NAN

,Years,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,False,True,True,False
2,False,False,False,False
3,False,False,False,False
4,False,False,False,False
5,False,False,False,False
6,False,False,False,False
7,False,False,False,False
8,False,False,False,False
9,False,False,False,False
10,False,False,False,False
11,False,False,False,False
12,False,False,False,False
13,False,False,False,False
14,False,False,False,False
15,False,False,False,False
16,False,False,False,False
17,False,False,False,False
18,False,False,False,False
19,False,False,False,False
20,False,False,False,False
21,False,False,False,False
22,False,False,False,False
23,False,False,False,False
24,False,False,False,False
25,False,False,False,False
26,False,False,False,False
27,False,False,False,False
28,False,False,False,False
29,False,False,False,False
30,False,False,False,False
31,False,False,False,False
32,False,False,False,False
33,False,False,False,False
34,False,False,False,False
35,False,False,False,False
36,False,False,False,False
37,False,False,False,False
38,False,False,False,False
39,False,False,False,False
40,False,False,False,False
41,False,False,False,False
42,False,False,False,False
43,False,False,False,False
44,False,False,False,False
45,False,False,False,False
46,False,False,False,False
47,False,False,False,False
48,False,False,False,False
49,False,False,False,False
50,False,False,False,False
51,False,False,False,False
52,False,False,False,False
53,False,False,False,False
54,False,False,False,False
55,False,False,False,False
56,False,False,False,False
57,False,False,False,False

In [66]:
#lets fill all NAN from "GDP growth (annual %)","GDP per capita growth (annual %)" to zero
data.fillna(value = 0, inplace=True)

In [67]:
data.head()

,Years,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,1960,0.000000,0.000000,92.961800
2,1961,0.191795,-1.820382,96.980430
3,1962,4.102993,1.964149,104.388533
4,1963,8.578619,6.311062,107.542108
5,1964,4.950489,2.739201,113.170338

In [16]:
data[['GDP growth (annual %)','GDP per capita growth (annual %)']]

   GDP growth (annual %) GDP per capita growth (annual %)
0                      %                                %
1                    NaN                              NaN
2               0.191795                         -1.82038
3                4.10299                          1.96415
4                8.57862                          6.31106
5                4.95049                           2.7392
6                4.88498                          2.66464
7               -4.25051                         -6.28851
8               -15.7436                         -17.5537
9               -1.24836                         -3.39693
10               24.1974                          21.4492
11               25.0072                          22.1832
12               14.2375                           11.618
13               3.36426                         0.954898
14               5.39276                          2.85425
15               11.1607                          8.34329
16              -5.22775                         -7.77004
17               9.04235                          5.94516
18               6.02412                          2.88582
19              -5.76416                         -8.58979
20               6.75943                          3.62244
21               4.20483                          1.26932
22              -13.1279                         -15.4548
23              -1.05319                         -3.59523
24              -5.05045                         -7.42755
25              -2.02154                         -4.46862
26               8.32283                          5.58207
27              -8.75418                         -11.0988
28              -10.7517                         -13.0645
29               7.54252                          4.75005
30               6.46719                          3.72184
31                12.766                          9.89491
32             -0.617851                          -3.1158
33              0.433725                          -2.0668
34               2.09038                        -0.433201
35              0.909763                         -1.57481
36             -0.307469                         -2.75861
37               4.99371                          2.41332
38               2.80226                         0.275909
39               2.71564                         0.188875
40              0.474238                         -2.00238
41               5.31809                          2.71429
42               4.41107                          1.82173
43               3.78465                          1.20083
44               10.3542                          7.58989
45               33.7358                          30.3566
46               3.44467                         0.804665
47               8.21096                          5.42279
48                6.8284                          4.05371
49               6.27026                          3.49216
50               6.93442                          4.12619
51               7.83974                          4.99983
52               4.88739                          2.11909
53               4.27928                          1.52409
54               5.39442                          2.61463
55               6.30972                          3.51962
56               2.65269                       -0.0222352
57              -1.61687                         -4.16011